---
interface Props {
    quantity: number | undefined;
    title: string;
    href: string;
    tags?: string[];
    isAdminCard?: boolean;
}

const { href, quantity, title, tags, isAdminCard = false } = Astro.props;
---

<a
    href={isAdminCard ? `/admin${href}` : href}
    class="hover:animate-background rounded-xl bg-gradient-to-r from-tertiary via-purple-700 to-purple-500 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] w-full"
>
    <div class="rounded-[10px] bg-primary p-4 !pt-16 sm:p-6">
        <p class="text-4xl">{quantity}</p>

        <h3 class="mt-0.5 text-base font-medium text-gray-900 capitalize">
            {title}
        </h3>

        <div class="mt-4 flex flex-wrap gap-1">
            {
                tags?.map((tag) => (
                    <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                        {tag}
                    </span>
                ))
            }
        </div>
    </div>
</a>
