---
import { navbarLinks } from "@/utils/navbar-links";
import { CartCounter } from "@/components";
import Button from "./Button.astro";

const { isLoggedIn, isAdmin } = Astro.locals;
---

<nav id="navbar">
    <div class="w-full flex items-center justify-between max-w-[1536px] m-auto">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/src/assets/logo.webp" class="h-8 rounded-full" alt="cubit" />
    </a>

    <ul
        class="flex items-center gap-2 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
        {
            isAdmin && (
                <li class="font-semibold text-white px-2 rounded">
                    <a href="/admin/dashboard">Admin</a>
                </li>
            )
        }
        {
            !isLoggedIn ? (
                <li>
                    <Button title="Ingresar" href="/login" />
                </li>
            ) : (
                <li id="logout" class="font-semibold text-red-600">
                    <a href="#">Salir</a>
                </li>
            )
        }

        <CartCounter client:load transition:persist />

        <button
            id="menu-button"
            data-collapse-toggle="navbar-sticky"
            data-nav-toggle="#navbar-sticky"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 z-50"
            aria-controls="navbar-sticky"
            aria-expanded="false"
        >
            <span class="sr-only">Open main menu</span>
            <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
        </button>
    </ul>
    <div
        id="menu-open"
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 navbar"
        id="navbar-sticky"
    >
        <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
            {
                navbarLinks.map(({ title, href }) => (
                    <li>
                        <a
                            href={href}
                            class="block py-2 px-3 rounded md:p-0 text-tertiary hover:text-quaternary transition-all"
                            aria-current="page"
                        >
                            {title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
</nav>

<script>
    const { signOut } = await import("auth-astro/client");

    const logoutElem = document.querySelector("#logout") as HTMLLIElement;
    const button = document.querySelector("#menu-button") as Element;
    const menuOpen = document.querySelector("#menu-open") as Element;
    const navbar = document.querySelector("#navbar");

    window.addEventListener("scroll", () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > 40) {
            navbar?.classList.add("active");
        } else {
            navbar?.classList.remove("active");
        }  
    });

    document.addEventListener("astro:page-load", () => {
        button?.addEventListener("click", () => {
            menuOpen.classList.toggle("hidden");
        });

        logoutElem?.addEventListener("click", async () => {
            await signOut();
            window.location.href = "/";
        });
    });
</script>
