.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mySwiper2 {
    max-height: auto;
  }
  
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 5px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 55%;
    height: 100%;
  }

  @media (min-width: 765px) {
    .mySwiper .swiper-slide {
      opacity: 0.4
    }

    .swiper-slide img {
     width: 80%;
    }
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
